body{font-family: Tahoma; font-size:12px; margin:0; padding:0; color:#999;background-image: url(../images/bg-all.png);}
a{text-decoration:none; cursor:pointer; color:#999; outline:medium none;}
a:hover{text-decoration:none; color:#0097fe; text-decoration:none;}
img,p,h1,h2,h3,h4,h5,h6,ul,ol,form{margin:0; padding:0; list-style:none; border:none;}
#wrapper{width:640px; height:920px; overflow:hidden;}

#status{width:640px; height:86px; background:url(../images/status_bg.jpg) no-repeat; float:left;}
#status .btn_back{width:140px; float:left;}
#status .keyword{width:360px; height:86px; float:left; background:url(../images/h_keyword.png) no-repeat top;}
#status .mini_logo{width:140px; height:86px; float:left; background:url(../images/4998_horo.png) no-repeat right;}

a.btn_back{width:113px; height:86px; display: block; background:url(../images/btn_back.png) no-repeat;}
#content{
	width:640px;
	height:735px;  
	background:url(../images/bg.jpg) no-repeat; 
	/*float:left;*/
	margin: auto; 
	position:relative;
}
.banner640{width:640px; height:120px;top:0;/*position:absolute;*/ margin: auto; position:relative;}

/* Use this class for full screen and remove div banner640 */
.full_height{width:640px; height:735px;}
/* Use this class for except banner */
.except_height{width:640px; height:615px; top:0px; margin-top:0px;/*120px;*/}

#main_btn{width:640px; height:99px; float:left; background:url(../images/bg_main_btn.jpg) no-repeat;}