#love_fill{width:640px; height:735px; background:url(../images/bg_love1.jpg) no-repeat;}
#love_fill .detail{width:465px; text-align:center; margin:0 auto;}
#love_fill .box{width:465px; height:57px; text-align:center; margin:0 auto;}
#love_fill .date{width:110px; float:left;}
#love_fill .month{width:218px; float:left;}
#love_fill .year{width:137px; float:left;}
.box_name {
	font-size:36px;
	color: #000;
	background-color:#FFF;
	width: 465px;
	height: 55px;
	border: 1px solid #cbcbcd;
	text-align:center;
}
#love_fill  a.result{ 
	width:176px; 
	height:176px;
	display: block;
	margin:33px auto 0 auto;
	background: url("../images/result.png") repeat scroll 0px 0px transparent;
}
#love_result{width:640px; height:735px; background:url(../images/bg_love2.jpg) no-repeat;}
#love_result .detail{width:482px; text-align:center; margin:0 auto;}
#love_result .detail p{height:44px; padding-top:50px; color:#000; font-size:27px;}
#love_result .text{width:442px; height:162px; background:url(../images/resultbox.gif) no-repeat; margin:0 auto; font-size:24px; color:#000; text-align:center; padding:10px 20px 10px 20px; text-align:justify;}
#love_result .heart{width:482px; height:88px; background:url(../images/heartbg.png) no-repeat; margin:0 auto; font-size:40px; color:#FFF; text-align:center; padding-top:35px;}
#love_result a.fb{ 
	width:335px; 
	height:65px;
	display: block;
	margin:52px auto 0 auto;
	background: url("../images/fb.png") repeat scroll 0px 0px transparent;
}







