/* for banner phone filling page*/
.banner640_b{width:640px; height:120px; position:relative; float:left;}

/* for all page*/
a.back_but{width:113px; height:86px; display: block; background:url(../images/btn_back.png);}

/* phone filling page*/
#pf_content{width:640px; height:714px;  background:url(../images/bg.jpg) no-repeat; float:left; text-align:center;}
#pf_content .fp{ height:42px; width:461px; font-size:40px; padding:10px; color:#999; margin-bottom:30px;}
#pf_content a.pf_ok{width:460px; height:73px; display: block; margin:30px auto 0 auto; background:url(../images/phonefilling_23.png);}
#pf_content a.pf_skip{width:460px; height:73px; display: block; margin:15px auto 0 auto; background:url(../images/phonefilling_26.png);}

/* home page*/
#h_content{width:640px; height:735px; background:url(../images/bg_home.jpg) no-repeat;}
#h_content .horop{width:401px; text-align:center;}
#h_content a.h_horop{width:302px; height:91px; display: block; margin:0px auto 0 auto; background:url(../images/home_07.png); text-align:center;}
#h_content a.h_rule{width:302px; height:91px; display: block; margin:15px auto 0 auto; background:url(../images/home_10.png); text-align:center;}

/* menu page*/

/* monthly horo page*/
#mh_content{width:640px; height:615px; background:url(../images/bg_monthlyhoro.jpg) no-repeat;}

/* monthly horo detail page*/
#mhd_content{width:640px; height:735px; background:url(../images/bg_detailmonthlyhoro.jpg) repeat-x top; background-color:#e5e5e5;}
#mhd_content .mhd_filld{ width:640px; height:535px; overflow:auto;}
#mhd_content .mhd_cc{ width:580px; margin:0 auto 0 auto;}
#mhd_content .mhd_highlight_p{ font-size:18px; font:bold; color:#4b4f81;}
#mhd_content .mhd_detail_p{ margin:0px auto; font-size:24px; color:#333; padding-top:10px; text-align:justify; padding-bottom:20px;}
#mhd_content .mhd_pc{ text-align:center;}
#mhd_content a.mhd_fb{width:335px; height:65px; display: block; margin:20px auto 0 auto; background:url(../images/fb.png) no-repeat; padding-bottom:20px;}

/* lucky colour page*/
#lc_content{width:640px; height:615px; overflow:auto;}
#lc_content .p1{height:170px; background:url(../images/luckycolour_03.jpg) no-repeat;}
#lc_content .p2{height:330px; background:url(../images/luckycolour_05.jpg) no-repeat;}
#lc_content .p3{height:320px; background:url(../images/luckycolour_06.jpg) no-repeat;}
#lc_content .p4{height:315px; background:url(../images/luckycolour_07.jpg) no-repeat;}
#lc_content .p5{height:315px; background:url(../images/luckycolour_08.jpg) no-repeat;}
#lc_content .p6{height:320px; background:url(../images/luckycolour_09.jpg) no-repeat;}
#lc_content .p7{height:315px; background:url(../images/luckycolour_10.jpg) no-repeat;}
#lc_content .p8{height:315px; background:url(../images/luckycolour_11.jpg) no-repeat;}
#lc_content .p9{height:139px; background:url(../images/luckycolour_12.jpg) no-repeat;}

/* vdo clip page*/
#vc_content{width:640px; height:615px; overflow:auto;}
#vc_content .vc_tab{width:640px; height:50px; background:url(../images/vdoclip_03.jpg) repeat-x;}
#vc_content .vc_month_p{ font-size:24px; font:bold; color:#fff; padding-left:20px; padding-top:10px;}
#vc_content .vc_tabvdo{width:640px; height:186px; background:url(../images/bg_tabvdoclip.jpg) no-repeat;}
#vc_content .vd_thumb{width:320px; float:left;}
#vc_content .vd_detail{width:260px; float:left; padding-left:10px; padding-top:30px;}
#vc_content .vc_highlight_p{ font-size:24px; font:bold; color:#4b4f81; text-align:justify;}
#vc_content .vc_detail_p{ font-size:18px; color:#2f2e2e;}

/* profile page*/
#p_content{width:640px; height:615px; overflow:auto; background-color:#e5e5e5;}
#p_content .p_btop{width:640px; height:339px;}
#p_content .p_btoppic{width:334px; float:left;}
#p_content .p_btopdetail{width:290px; float:left;}
#p_content .p_detailp{ font-size:18px; color:#898989; text-align:justify; padding-bottom:30px;}
#p_content .p_bcenter{width:600px; margin:0 auto 0 auto;}
#p_content .p_bgtab{width:600px; height:20px; background:url(../images/profile_08.jpg) no-repeat;}
#p_content .p_hdp{ font-size:30px; color:#4b4f81; font:bold;}
#p_content .p_bcd{width:520px; margin:0 auto 0 auto;}

/* horo plus page*/
#hp_content{width:640px; height:615px; background:url(../images/bg_horoplus.jpg) no-repeat;}

/* weekly horo page*/
#wh_content{width:640px; height:615px; background:url(../images/bg_weeklyhoro.jpg) no-repeat;}

/* howto page*/
#ht_content{width:640px; height:615px; overflow:auto;}
#ht_content .p1{height:192px; background:url(../images/howto_03.jpg) no-repeat;}
#ht_content .p2{height:423px; background:url(../images/howto_05.jpg) no-repeat;}

/* howto horoplus page*/
#hth_content{width:640px; height:615px; overflow:auto;}
#hth_content .p1{height:421px; background:url(../images/howtohoroplus_03.jpg) no-repeat;}
#hth_content .p2{height:120px; background:url(../images/howtohoroplus_05.jpg) no-repeat;}
#hth_content .p3{height:165px; background:url(../images/howtohoroplus_06.jpg) no-repeat;}