/*.btn-left-big{width:43px; height:52px;position: absolute; top: 175px; left: 80px;}
.btn-right-big{width:43px; height:52px;position: absolute; top: 175px; left: 515px;}*/

.btn-left-big{width:123px; height:402px;position: absolute;}
.btn-right-big{width:123px; height:402px;position: absolute; left: 515px;}

.show_month{/*background:url(../images/month_1.png) no-repeat ;*/text-align:center; width:332px; height:80px; float:left; /*margin:157px 0 0 154px;*/position: absolute; top: 157px; left: 157px;}

/* Pena */
.h_day{background:url(../images/h_Auspicious_day.png) no-repeat; width:342px; height:28px; margin:/*34px*/0px auto 29px auto;}
.part01{background:url(../images/bg_choose_month_01.png) no-repeat; width:640px; height:396px; position:relative; z-index:2;}
/*a*/.btn_check_date {background:url(../images/btn_checkdate.png) no-repeat; width:177px; height:77px; margin:23px auto 25px auto; display:block; position:relative;}

.h_calen{background:url(../images/h_day_auspicious.png) no-repeat; width:640px; height:55px; display:block;}
.l_calen{background:url(../images/l_calen.png) no-repeat; width:27px; height:436px; display:inline-block; float:left;}
.show_calen{width:588px; height:436px; display:inline-block; float:left;}
.calen_h1{background:url(../images/calen_h1.png) no-repeat; width:588px; height:64px; float:left;}
.r_calen{background:url(../images/r_calen.png) no-repeat; width:25px; height:436px; display:inline-block; float:left;}
.bt_calen{background:url(../images/bt_calen.png) no-repeat; width:640px; height:26px; display:block; float:left;}

/*.part02{background:url(../images/bg_choose_month_02.png) no-repeat; width:420px; height:101px; position:absolute; bottom:117px; left:105px; padding-top:5px; text-align:center; z-index:2;}*/
.part02{background:url(../images/bg_choose_month_big.png) no-repeat; width:420px; height:101px; position:absolute; bottom:117px; left:105px; padding-top:5px; text-align:center; z-index:2;}
/*.btn-left{top: 15px;left: 91px; position: absolute;}
.btn-right{top: 15px;left: 316px; position: absolute;}*/
.btn-left{top: 525px;left: 65px; position: absolute;}
.btn-right{top: 525px;left: 520px; position: absolute;}

.spc30{width:30px; height:60px; float:left; padding:5px 0 0 0; float:left; position:relative;}
i.reddot{background:url(../images/dot_red.png) no-repeat; width:17px; height:17px; display:block; float:right; margin:3px 5px 0 0;}
i.pinkdot{background:url(../images/dot_pink.png) no-repeat; width:17px; height:17px; display:block; float:right; margin:3px 5px 0 0;}
i.yellowdot{background:url(../images/dot_yellow.png) no-repeat; width:17px; height:17px; display:block; float:right; margin:3px 5px 0 0;}
i.greendot{background:url(../images/dot_green.png) no-repeat; width:17px; height:17px; display:block; float:right; margin:3px 5px 0 0;}
i.blackdot{background:url(../images/dot_black.png) no-repeat; width:17px; height:17px; display:block; float:right; margin:3px 5px 0 0;}

.day_time{width:550px; float:right; position:relative; display:inline; color:#f90; font-size:25px;}
.show_text{width:550px; float:right; position:relative; display:inline; color:#fff; font-size:30px;}
#text_auspicious{background:url(../images/bg_text_auspicious.png) no-repeat; width:588px; height:68px; margin:74px 0 0 0; padding:38px 26px; overflow:hidden; float:left;}

.d1n{width:84px; height:62px; background:url(../images/1n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d2n{width:84px; height:62px; background:url(../images/2n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d3n{width:84px; height:62px; background:url(../images/3n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d4n{width:84px; height:62px; background:url(../images/4n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d5n{width:84px; height:62px; background:url(../images/5n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d6n{width:84px; height:62px; background:url(../images/6n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d7n{width:84px; height:62px; background:url(../images/7n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d8n{width:84px; height:62px; background:url(../images/8n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d9n{width:84px; height:62px; background:url(../images/9n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d10n{width:84px; height:62px; background:url(../images/10n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d11n{width:84px; height:62px; background:url(../images/11n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d12n{width:84px; height:62px; background:url(../images/12n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d13n{width:84px; height:62px; background:url(../images/13n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d14n{width:84px; height:62px; background:url(../images/14n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d15n{width:84px; height:62px; background:url(../images/15n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d16n{width:84px; height:62px; background:url(../images/16n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d17n{width:84px; height:62px; background:url(../images/17n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d18n{width:84px; height:62px; background:url(../images/18n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d19n{width:84px; height:62px; background:url(../images/19n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d20n{width:84px; height:62px; background:url(../images/20n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d21n{width:84px; height:62px; background:url(../images/21n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d22n{width:84px; height:62px; background:url(../images/22n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d23n{width:84px; height:62px; background:url(../images/23n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d24n{width:84px; height:62px; background:url(../images/24n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d25n{width:84px; height:62px; background:url(../images/25n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d26n{width:84px; height:62px; background:url(../images/26n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d27n{width:84px; height:62px; background:url(../images/27n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d28n{width:84px; height:62px; background:url(../images/28n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d29n{width:84px; height:62px; background:url(../images/29n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d30n{width:84px; height:62px; background:url(../images/30n.png) no-repeat; float:left; position:relative; display:inline-block;}
.d31n{width:84px; height:62px; background:url(../images/31n.png) no-repeat; float:left; position:relative; display:inline-block;}

.d1d{width:84px; height:62px; background:url(../images/1d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d2d{width:84px; height:62px; background:url(../images/2d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d3d{width:84px; height:62px; background:url(../images/3d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d4d{width:84px; height:62px; background:url(../images/4d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d5d{width:84px; height:62px; background:url(../images/5d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d6d{width:84px; height:62px; background:url(../images/6d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d7d{width:84px; height:62px; background:url(../images/7d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d8d{width:84px; height:62px; background:url(../images/8d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d9d{width:84px; height:62px; background:url(../images/9d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d10d{width:84px; height:62px; background:url(../images/10d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d11d{width:84px; height:62px; background:url(../images/11d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d12d{width:84px; height:62px; background:url(../images/12d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d13d{width:84px; height:62px; background:url(../images/13d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d14d{width:84px; height:62px; background:url(../images/14d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d15d{width:84px; height:62px; background:url(../images/15d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d16d{width:84px; height:62px; background:url(../images/16d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d17d{width:84px; height:62px; background:url(../images/17d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d18d{width:84px; height:62px; background:url(../images/18d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d19d{width:84px; height:62px; background:url(../images/19d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d20d{width:84px; height:62px; background:url(../images/20d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d21d{width:84px; height:62px; background:url(../images/21d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d22d{width:84px; height:62px; background:url(../images/22d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d23d{width:84px; height:62px; background:url(../images/23d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d24d{width:84px; height:62px; background:url(../images/24d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d25d{width:84px; height:62px; background:url(../images/25d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d26d{width:84px; height:62px; background:url(../images/26d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d27d{width:84px; height:62px; background:url(../images/27d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d28d{width:84px; height:62px; background:url(../images/28d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d29d{width:84px; height:62px; background:url(../images/29d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d30d{width:84px; height:62px; background:url(../images/30d.png) no-repeat; float:left; position:relative; display:inline-block;}
.d31d{width:84px; height:62px; background:url(../images/31d.png) no-repeat; float:left; position:relative; display:inline-block;}

.d1c{width:84px; height:62px; background:url(../images/1c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d2c{width:84px; height:62px; background:url(../images/2c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d3c{width:84px; height:62px; background:url(../images/3c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d4c{width:84px; height:62px; background:url(../images/4c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d5c{width:84px; height:62px; background:url(../images/5c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d6c{width:84px; height:62px; background:url(../images/6c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d7c{width:84px; height:62px; background:url(../images/7c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d8c{width:84px; height:62px; background:url(../images/8c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d9c{width:84px; height:62px; background:url(../images/9c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d10c{width:84px; height:62px; background:url(../images/10c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d11c{width:84px; height:62px; background:url(../images/11c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d12c{width:84px; height:62px; background:url(../images/12c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d13c{width:84px; height:62px; background:url(../images/13c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d14c{width:84px; height:62px; background:url(../images/14c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d15c{width:84px; height:62px; background:url(../images/15c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d16c{width:84px; height:62px; background:url(../images/16c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d17c{width:84px; height:62px; background:url(../images/17c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d18c{width:84px; height:62px; background:url(../images/18c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d19c{width:84px; height:62px; background:url(../images/19c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d20c{width:84px; height:62px; background:url(../images/20c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d21c{width:84px; height:62px; background:url(../images/21c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d22c{width:84px; height:62px; background:url(../images/22c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d23c{width:84px; height:62px; background:url(../images/23c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d24c{width:84px; height:62px; background:url(../images/24c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d25c{width:84px; height:62px; background:url(../images/25c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d26c{width:84px; height:62px; background:url(../images/26c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d27c{width:84px; height:62px; background:url(../images/27c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d28c{width:84px; height:62px; background:url(../images/28c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d29c{width:84px; height:62px; background:url(../images/29c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d30c{width:84px; height:62px; background:url(../images/30c.png) no-repeat; float:left; position:relative; display:inline-block;}
.d31c{width:84px; height:62px; background:url(../images/31c.png) no-repeat; float:left; position:relative; display:inline-block;}
